@media (min-width:320px) and (max-width:575px){
    /* ######################################### navbar start here ################################################ */
    #navbar {
        padding-top: 10px;
        padding-bottom: 14px;
    }

    .navbar-brand{
        width: 150px;
    }

    .navbar-brand img{
        width: 100%;
    }

    .navbar-toggler:focus {
        text-decoration: none;
        outline: none;
        box-shadow: none
    }

    .navbar-toggler {
        padding: 0.3rem 0.4rem !important;
        font-size: 16px !important;
    }

    .navbar-collapse .nav-btn {
        padding: 10px 16px;
        margin-left: 0px;
    }

    .navbar-nav .nav-link {
        font-size: 14px;
        line-height: 0.8;
    }

    .navbar-nav {
        margin-bottom: 7px;
    }
    /* ######################################### navbar end here ################################################ */


    /* ######################################### banner start here ################################################ */
    #banner{
        padding: 0;
    }

    #banner .flex-div{
        flex-direction: column-reverse;
    }

    .banner-left h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 14px;
        text-align: center;
        margin-top: 14px;
    }

    .banner-left p {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 20px;
        text-align: center;
    }

    .banner-left .banner-btn {
        justify-content: center;
        column-gap: 12px;
        margin-bottom: 18px;
    }

    .banner-left .banner-btn a {
        padding: 12px 24px;
        font-size: 16px;
    }

    .banner-left span {
        display: none;
    }
    /* ######################################### banner end here ################################################ */


    /* ######################################### record start here ################################################ */
    #record {
        background: #FFF;
        padding: 20px 0px;
        margin-bottom: 0px;
    }

    #record .heading h2 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 14px;
    }

    #record .heading p {
        line-height: 18px;
    }

    #record .heading {
        margin-bottom: 12px;
    }

    #record .record-item {
        padding: 16px 20px;
        margin-bottom: 24px;
    }
    /* ######################################### record end here ################################################ */


    /* ######################################### difference start here ################################################ */
    #different {
        padding: 0px; 
        margin-bottom: 10px;
    }

    #different .left h2 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 14px;
        text-align: center;
    }

    #different .left p {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 24px;
    }

    #different .left ul li {
        column-gap: 5px;
        font-size: 14px;
        margin-left: 52px;
        margin-bottom: 14px;
    }

    #different .left a {
        display: block;
        padding: 10px 24px;
        text-align: center;
        margin-top: 0px;
        margin: 24px 80px;
    }
    /* ######################################### difference end here ################################################ */


    /* ######################################### popular start here ################################################ */
    #popular {
        padding: 0;
        background: #FFF;
    }

    #popular .heading h2 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 14px;
    }

    #popular .heading p {
        line-height: 20px;
        margin-bottom: 24px;
    }

    #popular .popular-tabs {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        column-gap: 8px;
        row-gap: 8px;
        margin-bottom: 10px;
    }

    .popular-items .item {
        box-shadow: 0px 20px 15px 0px rgba(15, 13, 35, 0.06);
    }

    .popular-items {
        margin-bottom: 32px;
    }

    .pop-btn button {
        padding: 12px 20px;
    }

    #popular .carousel-indicators {
        bottom: -20px;
        left: 35%;
    }

    #popular .carousel-indicators [data-bs-target] {
        background: rgb(104, 43, 226);
        margin: 0px 5px;
    }

    #popular .carousel-indicators .active::after {
        display: none;
    }
    /* ######################################### popular end here ################################################ */


    /* ######################################### pricing start here ################################################ */
    #pricing {
        padding: 10px 0px;
        margin-bottom: 0;
    }

    #pricing .heading h2 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 14px;
    }

    #pricing .heading p {
        line-height: 20px;
        margin-bottom: 24px;
    }

    #pricing .year {
        column-gap: 12px;
        margin-bottom: 24px;
    }

    .pricing-items .item {
        padding: 14px;
        margin: 14px;
        border-radius: 14px;
        box-shadow: 0px 20px 30px 0px rgba(15, 13, 35, 0.1);
        margin-bottom: 24px;
    }

    .pricing-items .item h3 {
        line-height: 30px;
        margin-bottom: 16px;
    }

    .pricing-items .item p {
        line-height: 20px;
        margin-bottom: 10px;
    }

    .pricing-items .item ul {
        padding-left: 63px;
    }

    .pricing-items .item ul li {
        margin-bottom: 20px;
    }

    .pricing-items .item a {
        padding: 14px 0px;
        margin: 0px 40px;
    }
    /* ######################################### pricing end here ################################################ */


    /* ######################################### articles start here ################################################ */
    #articles {
        padding: 20px 0px;
        background: #FFF;
        margin-bottom: 0;
    }

    #articles .heading h2 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 14px;
    }

    #articles .heading p {
        max-width: 270px;
        line-height: 20px;
        margin-bottom: 8px;
    }

    #articles .blog .image {
        margin-bottom: 14px;
    }

    #articles .blog h3 {
        font-size: 20px;
        text-align: center;
        line-height: 26px;
        margin-bottom: 10px;
    }

    #articles .blog p {
        font-size: 13px;
        text-align: center;
        line-height: 20px;
        margin-bottom: 10px;
    }

    #articles .blog a {
        margin: 0px 58px;
    }

    #articles .blog a i {
        vertical-align: middle;
    }

    #articles .carousel-indicators [data-bs-target] {
        margin: 0px 8px;
        background: rgb(104, 43, 226);
    }

    #articles .carousel-indicators {
        bottom: -15px;
        left: 38%;
    }

    #articles .carousel-indicators .active::after {
        display: none;
    }

    .art-btn button {
        margin-top: 46px;
        padding: 10px 25px;
    }
    /* ######################################### articles end here ################################################ */


    /* ######################################### beloved start here ################################################ */
    #beloved {
        padding-top: 24px;
        margin-bottom: 0;
        width: 100%;
        position: absolute;
        top: 5670px;
        background: transparent;
    }

    #beloved .heading h2 {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
    }

    #beloved .d-flex {
        margin-bottom: 34px;
    }

    #beloved .carousel-item .beloved {
        justify-content: center;
    }

    #beloved .carousel-item .beloved .item {
        padding: 14px;
        margin: 24px;
        margin-top: 0;
    }

    #beloved .carousel-item .beloved .item .quotation::after {
        width: 184px;
    }

    #beloved .carousel-item .beloved .item p {
        max-width: 205px;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 14px;
    }

    #beloved .carousel-item .beloved .item .quotation {
        margin-bottom: 10px;
    }

    #beloved .carousel-item .beloved .item .profile {
        margin-top: 22px;
    }

    #beloved .carousel-item .beloved .item .profile .p-image {
        width: 56px;
        height: 56px;
    }

    #beloved .carousel-item .beloved .item .profile .p-details h4 {
        font-size: 14px;
        margin-bottom: 6px;
    }

    #beloved .carousel-item .beloved .item p {
        margin-bottom: 0px;
    }

    #beloved .carousel-control-prev {
        bottom: -55px;
        left: 14px;
    }

    #beloved .carousel-control-prev-icon, .carousel-control-next-icon {
        height: 47px;
        width: 56px;
        line-height: 47px;
        background: #fff;
    }

    #beloved .fa-solid {
        color: #572be2;
    }

    #beloved .carousel-indicators {
        bottom: -38px;
        left: 30%;
    }

    #beloved .carousel-indicators [data-bs-target] {
        margin: 0px 15px;
    }

    #beloved .carousel-control-next {
        bottom: -55px;
        right: 14px;
    }

    #beloved .blv-btn button {
        margin-top: 90px;
        padding: 12px 20px;
    }
    /* ######################################### beloved end here ################################################ */


    /* ######################################### footer start here ################################################ */
    #footer {
        margin-top: 290px;
    }

    #footer .f-image {
        width: 155px;
    }

    #footer .f-image img {
        width: 100%;
    }

    #footer .f-credit {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 24px;
    }

    #footer .links {
        column-gap: 20px;
    }

    #footer .links .margin-need {
        margin-left: 16px;
    }
    /* ######################################### footer end here ################################################ */


    /* ######################################### navbar start here ################################################ */
    /* ######################################### navbar start here ################################################ */


    /* ######################################### navbar start here ################################################ */
    /* ######################################### navbar start here ################################################ */
}